* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
  }
  
  main {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .logo {
    margin-right: 0;
    margin-bottom: 10px;
    
  }
  .logo img {
    height: 50px;
  }
  
  .menu {
    display: flex;
    margin-left: 20px;
    align-self: flex-start;
    
  }
  
  .menu a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }

  .main{
    width: 100%;
  }
  .contato h6{
    font-size: larger;
    text-align: center;
  }

  .contato p{
    font-size: larger;
    font-weight: normal;
    text-align: center;
  }
